*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-blue: #4d5ae5;
  --color-brand: #2e2f42;
  --color-praymeri: #ffffff;
}

/* Body */
body {
  background-color: var(--color-praymeri, #ffffff);
  color: var(--color-brand);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img-class {
  display: block;
  width: 100%;
  height: auto;
}

/* Header */
.header {
  border-bottom: 120 solid #e7e9fc;
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
}

.container-header {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 76px;
  margin-right: 332px;
}
/* Logo */
.logo {
  color: var(--color-blue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
  display: flex;
  display: inline-block;
}

.logo-accent {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}

/* Navigation */
.navigation {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  padding: 24px 0;
}

.navigation:hover {
  color: #404bbf;
}

.navigation:focus {
  color: #404bbf;
}

/* Address */
.address {
  display: block;
  font-style: normal;
  white-space: nowrap;
  margin-right: 156px;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

/* Main */
/* Sections 1 */
.section-one {
  background-color: var(--color-brand);
  padding: 188px 0;
}

.container-one {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  flex-direction: column;
  gap: 48px;
}

.hero-title {
  color: var(--color-praymeri);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin: 0 auto;
}

.hero-button {
  color: var(--color-praymeri);
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-button:hover {
  color: var(--color-praymeri);
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

/* Sections 2 */
.section-two {
  padding: 120px 0;
}

.container-two {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-class {
  display: flex;
  gap: 24px;
}

.hero-li {
  width: calc((100% - 72px) / 4);
}

.hero-h {
  background-color: var(--color-praymeri);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.hero-p {
  color: #434455;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  font-size: 16px;
}

/* Sections 3 */
.section-three {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.container-three {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.headline {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-hero {
  display: flex;
  gap: 24px;
}

.list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 120 6px 0 rgba(46, 47, 66, 0.08),
    0 120 120 0 rgba(46, 47, 66, 0.16),
    0 2px 120 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.box-class {
  padding: 32px 0;
}

.title-hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.paragraph-hero {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* Sections 4 */
.section-four {
  background-color: var(--color-praymeri);
  padding: 120px 0;
}

.container-four {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.headline-class {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-myhero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 32px 16px;
}

.hero-list-item {
  flex: 0 0 calc((100% - 48px) / 3);
  box-sizing: border-box;
  background-color: #ffffff;
}

.container-link {
  padding: 32px 16px;
  border: 120 solid #e7e9fc;
  border-top: none;
}

.header-hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.class-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: var(--color-brand);
  padding: 120px 0;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 17.5px;
  margin-left: 156px;
}

.logo-two {
  color: var(--color-blue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.logo-accent-two {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.text-footer {
  color: #f4f4fd;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  max-width: 264px;
}
